
.ColorPicker{
  border: 1px solid red;
  margin-bottom: 10px;
}
.TextSize{
  border: 1px solid green;
  margin-bottom: 50px;
}

.Result{
  margin-top: 30px;
  font-size: 100px;
  border: 2px solid;
  padding: 20px;
  
}
span{
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}
.active{
  border: 3px solid black;
}